/* css chung */
html {
  font-size: 62.5%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}
.main-container {
  display: flex;
  min-height: 100vh;
}
.navigation {
  max-width: 345px;
  width: 100%;
  /* height: 1872px; */
}
.navigation .logo {
  max-width: 274px;
  width: 100%;
  /* height: 98px; */
  margin: 20px 20px 70px 35px;
}
.navigation .menu {
  max-width: 225px;
  width: 100%;
  /* height: 900px; */
  margin: 10px 60px;
}
.navigation .menu .active {
  color: black;
  font-weight: bold;
}
.navigation .menu a:hover {
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}
.navigation .menu a {
  display: block;
  margin-bottom: 20px;
  list-style: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
.navigation .menu svg {
  fill: currentColor;
}
.navigation .menu a span {
  margin-left: 20px;
}
.right {
  background-color: rgb(223, 221, 221);
  flex: 1;
}
/* css rieng */

.r-box {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  width: 100%;
}
.r-box h1 {
  font-size: 1.2rem;
  font-weight: bold;
}
.r-box h2 {
  font-size: 1.4rem;
  margin-top: 40px;
  font-weight: bold;
}
.add-box {
  background-color: white;
  height: 500px;
  margin-top: 10px;
  border-radius: 10px;
}
.add-box1 {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.add-left {
  max-width: 500px;
  width: 100%;
  display: block;
}
.add-left a:hover {
  color: green;
}
.add-right {
  max-width: 500px;
  width: 100%;
  height: 200px;

  background-color: grey;
}
.add-left-inf {
  padding: 40px 20px 50px 20px;
}
.size,
.size2,
.size3 {
  font-size: 1.3rem;
}
.form-group {
  margin-top: 15px;
}
.js .size4 {
  margin-top: 15px;
  width: 450px;
  display: block;
  height: 150px;
  box-sizing: border-box; /* rất nên dùng */
}
.js button {
  background-color: green;
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px;
}
.js button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
