/* css chung */
html {
  font-size: 62.5%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}
.main-container {
  display: flex;
  min-height: 100vh;
}
.navigation {
  max-width: 345px;
  width: 100%;
  /* height: 1872px; */
}
.navigation .logo {
  max-width: 274px;
  width: 100%;
  /* height: 98px; */
  margin: 20px 20px 70px 35px;
}
.navigation .menu {
  max-width: 225px;
  width: 100%;
  /* height: 900px; */
  margin: 10px 60px;
}
.navigation .menu .active {
  color: black;
  font-weight: bold;
}
.navigation .menu a:hover {
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}
.navigation .menu a {
  display: block;
  margin-bottom: 20px;
  list-style: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
.navigation .menu svg {
  fill: currentColor;
}
.navigation .menu a span {
  margin-left: 20px;
}
.right {
  background-color: rgb(223, 221, 221);
  flex: 1;
}
