/* css chung */
html {
  font-size: 62.5%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}
.main-container {
  display: flex;
  min-height: 100vh;
}
.navigation {
  max-width: 345px;
  width: 100%;
  /* height: 1872px; */
}
.navigation .logo {
  max-width: 274px;
  width: 100%;
  /* height: 98px; */
  margin: 20px 20px 70px 35px;
}
.navigation .menu {
  max-width: 225px;
  width: 100%;
  /* height: 900px; */
  margin: 10px 60px;
}
.navigation .menu .active {
  color: black;
  font-weight: bold;
}
.navigation .menu a:hover {
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}
.navigation .menu a {
  display: block;
  margin-bottom: 20px;
  list-style: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
.navigation .menu svg {
  fill: currentColor;
}
.navigation .menu a span {
  margin-left: 20px;
}
.right {
  background-color: rgb(223, 221, 221);
  flex: 1;
}
/* cssrign */
.right .right-header {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;

  margin-top: 40px;
}
.right-header h1 {
  font-size: 1.2rem;
  font-weight: bold;
}
.button {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 5px;
}
.icon {
  background-color: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-header h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 15px;
}
.r-h-box {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.h-box img {
  width: 180px;
}
.right-body {
  border-top: 3px solid grey;
  margin-top: 15px;
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.right-body h1 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.bd-box {
  display: flex;
  justify-content: space-between;
}
.bd-box1 {
  max-width: 320px;
  width: 100%;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
}

.bd-box1 .img img {
  width: 100%;
  max-width: 320px;
}
.bd-box1 h2 {
  margin-top: 5px;
  font-weight: bold;
  margin-left: 5px;
}
.bd-box1 p {
  margin-left: 5px;
  font-size: 0.9rem;
}
.price {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.price p:nth-child(1) {
  text-decoration: underline;
}
.price p:nth-child(2) {
  font-size: 1rem;
  color: red;
}
